/* Inicio.html */

/* Noticias.html */

/*Pag-Noticias.html */

/* ======================= Styles Generales ======================= */

html {
box-sizing: border-box;
font-size: 62.5%;
}

*, *:before, *:after {
box-sizing: inherit;
}

nav a{
    text-decoration: none;
    color: #f5ee30;
}

/* ===== Navegacion ===== */

.img-navegacion{
width: 20%;
margin-left: 3%;
}

.principal-navegacion{
position: fixed;
background: #58585a;
height: 82px;
display: inline-block;
width: 73%;
margin-left:4%;
}

.navegacion{
background: white;
height: 80px;
position: fixed;
width: 100%;
margin-top: 0px;
z-index: 1;
}

nav li:hover{
	background-color: #f5ee30;
	height: 85px;	
}

nav li:hover a{
  color: #58585a;
}

nav .active a{
color: #58585a;
}
nav li.active{
background: #f5ee30;
height: 85px;
margin-top: -13px;
}
nav .active:after{
content: '';
width: 0;
height: 0;
display: block;
position: relative;
margin: 34px auto;
border: 10px solid transparent;
border-top: 8px solid #f5ee30;
}
.ul-navegacion li{
display: inline-block;
margin-top: -13px;
font-size: 1.5rem;
border-right: transparent;
padding-left: 4.5%;
height: 52px;
padding-top: 32px;
padding-right: 4.3%;
}

/* ===== Contacto ===== */

.footer{
  background: #58585a;
height: 150px;
padding-left: 5%;
padding-top: 5px;
padding-bottom: 20px;
z-index: 1;
}
footer a{
  color:#fff;
}
.facebook:hover{
  background: url(../img/icon-fb-hover.png);
}

.google:hover{
  background: url(../img/icon-google-hover.png);
}

.rrss{
padding-top: 25px;
float: right;
margin-right: 6%;
margin-top: -35px;
}

.title{
  color: #f5ee30;
  font-size: 30px;
}

.twiter:hover{
  background: url(../img/icon-twiter-hover.png);
}

.title-p, address{
  color: #f5ee30;
font-size: 13px;
margin-bottom: -10px;
}

/* ======================= Styles Pagina de Inicio ======================= */

/*Slider*/

/* Chrome, Safari, Opera */ 


@-webkit-keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div.slider { overflow: hidden; height: 656px;padding-top: 0px;}
div.slider figure img { width: 20%; float: left; }
div.slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  -webkit-animation: slidy 15s infinite; /* Chrome, Safari, Opera */
  animation: slidy 15s infinite; 
}
